.page{
    background-image: url('../assets/images/IMG_20200903_161142.jpg');
    background-size: cover;
    height:85vh;    
}


.footer{
    text-align: center;
    background-color: lightseagreen;
    color: rgb(8, 4, 4);
    padding: 5px;
    font-size: large;
  }